/* TopBar.css */

/* 整体布局 */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  position: relative;
  flex-wrap: wrap; /* 允许换行 */
}

.topbar.dark {
  background-color: #333333; /* 暗色模式背景 */
}

/* logo 和标题容器 */
.logo-title-container {
  display: flex;
  justify-content: flex-start; /* logo 和 title 对齐左边 */
  flex: 1;
  position: absolute;
  left: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 使 logo 居左 */
  flex: 1;
}

.logo-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.language-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.language-logo {
  width: 18px;
  height: 18px;
  object-fit: contain;
  transition: fill 0.3s ease; /* 平滑过渡 */
}

/* 当处于暗色模式时，图标颜色变为白色 */
.language-logo.dark-mode {
  filter: invert(1) brightness(2); /* 反转颜色并增加亮度 */
}

/* 标题样式 */
.title {
  color: #000000;
  font-size: 18px;
}

.topbar.dark .title {
  color: #ffffff;
}

/* 中心标题 */
.navigation {
  flex-grow: 1;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* 让导航栏居中 */
}

.navigation .ant-menu-item {
  font-size: 16px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

.language-selector .ant-select-selector {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.topbar.dark .language-selector .ant-select-selector {
  background-color: #333333;
  border-radius: 5px;
  border: 1px solid #212121;
}

.language-dropdown {
  font-size: 14px;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

/* 调整暗色模式下的菜单颜色 */
.topbar.dark .ant-menu-dark .ant-menu-item {
  color: #ffffff;
  background-color: #333333;
}

.topbar.dark .ant-menu-dark .ant-menu-item:hover {
  color: #9d9d9d;
}

.topbar.dark .ant-menu-dark .ant-menu-item-selected {
  color: #ffffff;
  background-color: #000000;
  border-bottom: none;  /* 移除底部横线 */
}

/* 调整亮色模式下的菜单颜色 */
.topbar .ant-menu .ant-menu-item {
  color: #000000;
  background-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease; /* 背景和文字颜色同步过渡 */
}

.topbar .ant-menu .ant-menu-item::after {
  border-bottom: none;  /* 移除底部横线 */
}

.topbar .ant-menu .ant-menu-item:hover {
  color: #ffffff !important;
  background-color: #000000;
}

.topbar .ant-menu .ant-menu-item-selected {
  color: #ffffff;
  background-color: #000000;
}

/* 自定义溢出项 */
.ant-menu-overflow-item {
  color: #000000;  /* 默认字体颜色为黑色 */
  background-color: #ffffff;  /* 默认背景色为白色 */
  display: inline-block !important; /* 确保它不会被隐藏 */
  visibility: visible !important; /* 保证它可见 */
  transition: background-color 0.3s ease, color 0.3s ease; /* 平滑过渡 */
}

.topbar.dark .ant-menu-overflow-item {
  color: #ffffff;
  background-color: #333333;
}
